<%= simple_form_for truc, html: { class: "truc form" } do |f| %>
  <% if truc.errors.any? %>
    <div class="error-message">
      <%= truc.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>