<p style="color: green"><%= notice %></p>

<%= render @truc %>

  <%= link_to "🔙 ",
      trucs_path,
      class: " text-xl text-blue-400 no-underline font-semibold  hover:bg-transparent hover:text-blue-700 rounded p-2 mx-2 "
  %>